  <h2><%= image_tag("boyhead.jpg", :alt => "Face") %> (Q8) <%= @story.char_name %> and <%= @story.char_friend_name %> like <%= @story.char_activity %> because...</h2>
  <div class="field">
    <%= f.text_area :char_activity_whylove %> </i></p>
  </div>