  <h2> Confirm story contents page </h2>
  <p>Once upon a time <%=h @story.char_name %>, who had <%=h @story.char_haircolor %> hair and DID OR DID NOT wear glasses, <%=h @story.char_activity %> with <%=h @story.char_friend_name %>. They loved to <%=h @story.char_activity %> because <%=h @story.char_activity_whylove %></p>