  <h2> Confirm story contents page </h2>
  <p>Once upon a time <%= @story.char_name %>, who had <%=h @story.char_haircolor %> hair and DID OR DID NOT wear glasses, <%= @story.char_activity %> with <%= @story.char_friend_name %>. They loved to <%= @story.char_activity %> because <%=h @story.char_activity_whylove %>. One time it was hard for <%= @story.char_name %> <%= @story.char_activity %> because <%= story.char_activity_whydifficult %>

 
        <td><%= story.char_activity_whydifficult %></td>
        <td><%= story.char_feelings %></td>
        <td><%= story.char_action_from_feeling %></td>
        <td><%= story.char_result_from_action %></td>
        <td><%= story.char_learn_from_action %></td>
        <td><%= story.char_action_from_learn %></td>
        <td><%= story.story_title %></td>

  </p>