      <th>Char name</th>
      <th>Char age</th>
      <th>Char glasses</th>
      <th>Char haircolor</th>
      <th>Char friend name</th>
      <th>Char friend why</th>
      <th>Char activity</th>
      <th>Char activity whylove</th>
      <th>Char activity everdifficult</th>
      <th>Char activity whydifficult</th>
      <th>Char feelings</th>
      <th>Char action from feeling</th>
      <th>Char result from action</th>
      <th>Char learn from action</th>
      <th>Char action from learn</th>


        <td><%= story.char_name %></td>
        <td><%= story.char_age %></td>
        <td><%= story.char_glasses %></td>
        <td><%= story.char_haircolor %></td>
        <td><%= story.char_friend_name %></td>
        <td><%= story.char_friend_why %></td>
        <td><%= story.char_activity %></td>
        <td><%= story.char_activity_whylove %></td>
        <td><%= story.char_activity_everdifficult %></td>
        <td><%= story.char_activity_whydifficult %></td>
        <td><%= story.char_feelings %></td>
        <td><%= story.char_action_from_feeling %></td>
        <td><%= story.char_result_from_action %></td>
        <td><%= story.char_learn_from_action %></td>
        <td><%= story.char_action_from_learn %></td>



<p id="notice"><%= notice %></p>
<br>
<p>
  <strong>Char name:</strong>
  <%= @story.char_name %>
</p>
<br>
<p>
  <strong>Char age:</strong>
  <%= @story.char_age %>
</p>
<br>
<p>
  <strong>Char glasses:</strong>
  <%= @story.char_glasses %>
</p>
<br>
<p>
  <strong>Char haircolor:</strong>
  <%= @story.char_haircolor %>
</p>
<br>
<p>
  <strong>Char friend name:</strong>
  <%= @story.char_friend_name %>
</p>
<br>
<p>
  <strong>Char friend why:</strong>
  <%= @story.char_friend_why %>
</p>
<br>
<p>
  <strong>Char activity:</strong>
  <%= @story.char_activity %>
</p>
<br>
<p>
  <strong>Char activity whylove:</strong>
  <%= @story.char_activity_whylove %>
</p>
<br>
<p>
  <strong>Char activity everdifficult:</strong>
  <%= @story.char_activity_everdifficult %>
</p>
<br>
<p>
  <strong>Char activity whydifficult:</strong>
  <%= @story.char_activity_whydifficult %>
</p>
<br>
<p>
  <strong>Char feelings:</strong>
  <%= @story.char_feelings %>
</p>
<br>
<p>
  <strong>Char action from feeling:</strong>
  <%= @story.char_action_from_feeling %>
</p>
<br>
<p>
  <strong>Char result from action:</strong>
  <%= @story.char_result_from_action %>
</p>
<br>
<p>
  <strong>Char learn from action:</strong>
  <%= @story.char_learn_from_action %>
</p>
<br>
<p>
  <strong>Char action from learn:</strong>
  <%= @story.char_action_from_learn %>
</p>
<br>
<p>
  <strong>Story title:</strong>
  <%= @story.story_title %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>


DATABASE

 default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: db/my_database_development

# Warning: The database defined as "test" will be erased and
# re-generated from your development database when you run "rake".
# Do not set this db to the same as development or production.
test:
  <<: *default
  database: db/my_database_test

production:
  <<: *default
  database: db/my_database_production



<nav class="navbar navbar-default" role="navigation">   

  <!-- Brand and toggle grouped for better mobile display -->   
  <div class="navbar-header">     
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">       
      <span class="sr-only">Toggle navigation</span>       
      <span class="icon-bar"></span>       
      <span class="icon-bar"></span>       
      <span class="icon-bar"></span>     
    </button>     
    <%= link_to "New Story", new_story_path, class: "btn btn-default btn-lg" %>
  </div>    

  <!-- Collects nav links, forms, and other content for toggling -->   
  <div class="collapse navbar-collapse navbar-ex1-collapse">     
    <ul class="nav navbar-nav navbar-right">       
    <%= link_to "Log in", class: "btn btn-default btn-lg" %>
    <%= link_to "Sign up", class: "btn btn-primary btn-lg" %>   
    </ul>   
  </div>

</nav>
