      <th>Char name</th>
      <th>Char age</th>
      <th>Char glasses</th>
      <th>Char haircolor</th>
      <th>Char friend name</th>
      <th>Char friend why</th>
      <th>Char activity</th>
      <th>Char activity whylove</th>
      <th>Char activity everdifficult</th>
      <th>Char activity whydifficult</th>
      <th>Char feelings</th>
      <th>Char action from feeling</th>
      <th>Char result from action</th>
      <th>Char learn from action</th>
      <th>Char action from learn</th>


        <td><%= story.char_name %></td>
        <td><%= story.char_age %></td>
        <td><%= story.char_glasses %></td>
        <td><%= story.char_haircolor %></td>
        <td><%= story.char_friend_name %></td>
        <td><%= story.char_friend_why %></td>
        <td><%= story.char_activity %></td>
        <td><%= story.char_activity_whylove %></td>
        <td><%= story.char_activity_everdifficult %></td>
        <td><%= story.char_activity_whydifficult %></td>
        <td><%= story.char_feelings %></td>
        <td><%= story.char_action_from_feeling %></td>
        <td><%= story.char_result_from_action %></td>
        <td><%= story.char_learn_from_action %></td>
        <td><%= story.char_action_from_learn %></td>