<p id="notice"><%= notice %></p>
<br>
<p>
  <strong>Char name:</strong>
  <%= @story.char_name %>
</p>
<br>
<p>
  <strong>Char age:</strong>
  <%= @story.char_age %>
</p>
<br>
<p>
  <strong>Char glasses:</strong>
  <%= @story.char_glasses %>
</p>
<br>
<p>
  <strong>Char haircolor:</strong>
  <%= @story.char_haircolor %>
</p>
<br>
<p>
  <strong>Char friend name:</strong>
  <%= @story.char_friend_name %>
</p>
<br>
<p>
  <strong>Char friend why:</strong>
  <%= @story.char_friend_why %>
</p>
<br>
<p>
  <strong>Char activity:</strong>
  <%= @story.char_activity %>
</p>
<br>
<p>
  <strong>Char activity whylove:</strong>
  <%= @story.char_activity_whylove %>
</p>
<br>
<p>
  <strong>Char activity everdifficult:</strong>
  <%= @story.char_activity_everdifficult %>
</p>
<br>
<p>
  <strong>Char activity whydifficult:</strong>
  <%= @story.char_activity_whydifficult %>
</p>
<br>
<p>
  <strong>Char feelings:</strong>
  <%= @story.char_feelings %>
</p>
<br>
<p>
  <strong>Char action from feeling:</strong>
  <%= @story.char_action_from_feeling %>
</p>
<br>
<p>
  <strong>Char result from action:</strong>
  <%= @story.char_result_from_action %>
</p>
<br>
<p>
  <strong>Char learn from action:</strong>
  <%= @story.char_learn_from_action %>
</p>
<br>
<p>
  <strong>Char action from learn:</strong>
  <%= @story.char_action_from_learn %>
</p>
<br>
<p>
  <strong>Story title:</strong>
  <%= @story.story_title %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
